<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>

	<connectionStrings>
		<add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\user\source\repos\VsevolodGus\Directory-of-localities\DataBase\PlaceDB.mdf;Integrated Security=True"
			 name="Place"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
